.faq-form {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1.5rem;
  /* background: black; */
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.faq-instructions {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.form-status {
  margin: 1rem 0;
  font-weight: bold;
  color: green;
}

textarea.faq-textarea,
input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 0.7rem;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form_submit {
  background: black;
  color: gold;
  border: none;
  padding: 0.8rem;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}
@media screen and (max-width: 430px) {
  /* iPhone */
}
@media screen and (max-width: 768px) {
  /* iPad screen */
}
