.questions {
  max-width: 880px;
  padding: 0 0;
  margin: 0 auto;
}
.title_FAQ {
  text-align: center;
  font-family: "Amita";
  color: gold;
  background-color: black;
  background-position: relative;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  font-family: "Amita";
  font-size: 24px;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: rgba(9, 9, 9, 0.7);
  color: gold;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: block;
}
.accordion::before {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.slide::before {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.slide,
.accordion:hover {
  background-color: #ccc;
  color: brown;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: black;
  color: gold;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  font-family: "Amita";
}
.margam {
  display: flex;
  max-width: 70%;
  max-height: fit-content;
  margin: 0 auto;
}

/* form styling */
.faq-page {
  max-width: 900px;
  margin: auto;
  padding: 2rem;
  background: linear-gradient(to bottom, #b62433, #8f212e);
  color: white;
  font-family: "Georgia", serif;
}

.faq-item {
  border: 1px solid #fff;
  margin-bottom: 10px;
  padding: 10px;
}

.faq-question {
  background: none;
  color: #fff;
  font-weight: bold;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 1rem;
}
.faq-instructions {
  font-family: "Amita";
  font-size: 20px;
  color: gold;
  background-image: url(../../../assets/temple.png);
  margin: 0;
}

.form_question {
  font-family: "Amita";
  font-size: 24px;
  color: goldenrod;
  background-color: black;
  width: 100%;
  box-sizing: border-box;
}
.contact {
  display: flex;
  gap: 25px;
}
.form_name {
  font-family: "Amita";
  font-size: 24px;
  color: gold;
  background-color: black;
}

.form_email {
  font-family: "Amita";
  font-size: 24px;
  color: gold;
  background-color: black;
}

.faq-answer {
  margin-top: 10px;
  font-size: 1rem;
}

.faq-form {
  margin-top: 40px;
  padding-top: 20px;
  margin: 0 auto;
  max-width: 880px;
}

.faq-form label {
  display: block;
  margin-top: 10px;
  width: 100%;
}

.faq-textarea {
  font-family: "Amita";
  font-size: 25px;
  width: 100%;
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
}

.faq-form input {
  min-width: fit-content;
  min-height: fit-content;
  padding: 8px;
  margin-top: 5px;
  font-family: "Amita";
  font-size: 25px;
  width: 100%;
  box-sizing: border-box;
}

.form_submit {
  margin: 10px auto;
  max-width: 880px;
  font-family: "Amita";
  font-size: 24px;
  display: flex;
}
@media screen and (max-width: 430px) {
  .title_FAQ {
    text-align: center;
    font-family: "Amita";
    margin-top: 43px;
    color: gold;
    background-color: black;
    background-position: relative;
  }
  .questions {
    width: 320px;
  }

  /* Style the buttons that are used to open and close the accordion panel */
  .accordion {
    font-family: "Amita";
    font-size: 24px;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: rgba(9, 9, 9, 0.7);
    color: gold;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: block;
  }
  .accordion::before {
    content: "\02795"; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: rgba(9, 9, 9, 0.7);
    float: right;
    margin-left: 5px;
  }

  .slide::before {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .slide,
  .accordion:hover {
    background-color: silver;
    color: brown;
    width: 100;
  }

  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: black;
    color: gold;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    font-family: "Amita";
  }
  /* form styling */
  .faq-page {
    max-width: 900px;
    margin: auto;
    padding: 2rem;
    background: linear-gradient(to bottom, #b62433, #8f212e);
    color: white;
    font-family: "Georgia", serif;
  }

  .faq-item {
    border: 1px solid #fff;
    margin-bottom: 10px;
    padding: 10px;
  }

  .faq-question {
    background: none;
    color: #fff;
    font-weight: bold;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 1rem;
  }
  .faq-instructions {
    font-family: "Amita";
    font-size: 20px;
    color: goldenrod;
    background-image: url(../../../assets//temple.png);
    margin: 0;
    padding: 0px 0px 0px 5px;
  }

  .margam {
    display: flex;
    max-width: 70%;
    max-height: fit-content;
    margin: 0 auto;
  }

  .form_question {
    font-family: "Amita";
    font-size: 24px;
    color: gold;
    background-color: black;
    width: 100%;
    box-sizing: border-box;
  }
  .contact {
    display: flex;
    gap: 25px;
  }
  .form_name {
    font-family: "Amita";
    font-size: 24px;
    color: gold;
    background-color: black;
  }

  .form_email {
    font-family: "Amita";
    font-size: 24px;
    color: gold;
    background-color: black;
  }

  .faq-answer {
    margin-top: 10px;
    font-size: 1rem;
  }

  .faq-form {
    margin-top: 40px;
    padding-top: 20px;
    margin: 0 auto;
    max-width: 880px;
  }

  .faq-form label {
    display: block;
    margin-top: 10px;
    width: 100%;
  }

  .faq-textarea {
    font-family: "Amita";
    font-size: 25px;
    width: 100%;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
  }

  .faq-form input {
    min-width: fit-content;
    min-height: fit-content;
    padding: 8px;
    margin-top: 5px;
    font-family: "Amita";
    font-size: 25px;
    width: 100%;
    box-sizing: border-box;
  }

  .form_submit {
    margin: 10px auto;
    max-width: 880px;
    font-family: "Amita";
    font-size: 24px;
    display: flex;
    color: gold;
    background-color: black;
  }
}
@media screen and (max-width: 768px) {
  /* iPad screen */
}
