.journey {
  font-size: 1.9rem;
  text-align: right;
  background-image: url(../assets/Temple.png);
}

.performers {
  font-family: "Amita", "Arial", sans-serif;
  font-size: 25px;
  text-align: left;
  font-style: normal;
  font-weight: 900;
  color: indianred;
}

.group_photo {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  width: 58rem;
  height: 40rem;
  max-width: 100%;
}
