.header {
  background-image: url(../../assets/temple.png);
  color: white;
  padding: 0px 0px 0px 0px; /* top right bottom left */
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 254px;
  width: 309px;
  object-fit: contain;
  margin-right: 50px;
  margin-top: 50px;
}
.green_varnum_corner {
  width: 50%;
}
.header-content {
  margin-right: 124px;
}

.header-text {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 25px;
  font-family: "Amita", cursive;
  font-weight: 900;
  color: gold;
  margin: 0;
  text-align: center;
  position: relative;
}
.title_main_title {
  font-size: 50px;
  text-align: center;
  font-family: "Amita";
  color: goldenrod;
}

.subtitle {
  font-size: 1.5rem;
  font-family: "Amita";
  color: gold;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
  font-weight: 900;
}
.date {
  font-family: "Amita";
  font-size: 29px;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  color: goldenrod;
  white-space: normal;
}
.instructions {
  font-family: "Amita", "Arial", sans-serif;
  font-size: 20px;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  color: gold;
}

.dropdown {
  display: block;
  font-size: 1rem;
  background: none;
  border: none;
  color: gold;
  cursor: pointer;
  align-items: right;
  background-color: black;
  width: 197px;
  height: 60px;
  margin-left: 47px;
}
.dropdown__title {
  font-size: 20px;
  margin: 0px;
  display: inline;
  color: gold;
}
.dancers {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: 50px;
  color: gold;
  width: 200px;
  font-family: "Amita", "Arial", sans-serif;
  position: absolute;
  background-color: black;
  opacity: 0.9;
  margin-left: 46px;
}

.dancer_text {
  font-family: "Amita", "Arial", sans-serif;
  font-size: 25px;
  text-align: center;
  font-style: normal;
  font-weight: 400px;
  color: gold;
}

@media screen and (max-width: 430px) {
  .header {
    background-image: url(../../assets/temple.png);
    padding: 0px 0px 0px 0px; /* top right bottom left */
  }

  .header-container {
    padding: 2rem 1rem;
    background-position: center top;
    background-size: cover;
    flex-direction: column;
    background-image: url(../../assets/temple.png);
  }

  .logo {
    width: 145px;
    display: block;
    margin: 0 auto 1rem;
    margin-top: 1px;
  }
  .green_varnum_corner {
    width: 62%;
    max-width: 600px;
    margin: 1.5rem auto;
    display: block;
  }
  .header-content {
    margin-right: -9px;
  }

  .header-text {
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: 25px;
    font-family: "Amita", cursive;
    font-weight: 900;
    color: gold;
    margin: 0;
    text-align: center;
    position: relative;
  }
  .title_main_title {
    font-size: 28px;
    text-align: center;
    font-family: "Amita";
    color: goldenrod;
  }

  .subtitle {
    font-size: 1rem;
    font-family: "Amita";
    color: gold;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 900px;
    text-align: center;
    font-weight: bolder;
  }
  .date {
    font-family: "Amita";
    font-size: 15px;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    color: goldenrod;
    white-space: normal;
  }
  .instructions {
    font-family: "Amita", "Arial", sans-serif;
    font-size: 10px;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    color: gold;
  }

  .dropdown {
    display: block;
    font-size: 1rem;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    align-items: right;
    background-color: black;
    width: 197px;
    height: 60px;
    margin-left: 6px;
  }
  .dropdown__title {
    font-size: 20px;
    margin: 0px;
    display: inline;
    color: gold;
  }
  .dancers {
    z-index: 85;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: 50px;
    color: gold;
    width: 200px;
    font-family: "Amita", "Arial", sans-serif;
    background-color: black;
    opacity: 0.9;
    margin-left: 6px;
  }

  .dancer_text {
    font-family: "Amita", "Arial", sans-serif;
    font-size: 25px;
    text-align: center;
    font-style: normal;
    font-weight: 400px;
    color: gold;
  }
}
@media screen and (max-width: 390px) {
  /* Stack logo and content vertically */
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  /* Stack title and burger horizontally */
  .header-top {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  /* Show burger icon */
  .header-top {
    flex-direction: row;
    justify-content: flex-start; /* Align to the left */
    align-items: right;
    gap: 16px; /* Space between burger and text */
  }
  .logo {
    height: 189px;
    width: 309px;
    object-fit: contain;
    margin-right: 50px;
    margin-top: 50px;
  }
  .green_varnum_corner {
    opacity: 2px;
    width: 89%;
  }
  .dropdown {
    display: block;
    font-size: 1.8rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    background-color: black;
  }

  .dancers {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: 30px;
    color: gold;
    width: 200px;
    font-family: "Amita", "Arial", sans-serif;
    position: absolute;
    background-color: black;
    opacity: 0.9;
    margin-left: 46px;
  }

  .dancer_text {
    font-family: "Amita", "Arial", sans-serif;
    font-size: 19px;
    text-align: center;
    font-style: normal;
    font-weight: 400px;
    color: gold;
  }
}
@media screen and (max-width: 768px) {
  /* iPad screen */
}

/* SLIDING ANIMATION CSS STARTS HERE: */
/* .image-wrapper {
  overflow: hidden;
}

.slide-in {
  width: 50px;
  position: relative;
  animation: slideInFromLeft 5s ease-out forwards;
  opacity: 95%;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in {
  width: 300px;
  position: absolute;
  animation: slideInFromRight 5s ease-out forwards;
  opacity: 0;
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
} */
