.avatar {
  width: 300px; /* or any size you want */
  height: auto;
  gap: 20px;
}
.soorya_school {
  width: 508px; /* or any size you want */
  height: 100%;
}
.instructor_with_girls_onstage {
  width: 100%;
}

.instructor_with_girls {
  width: 100%;
}
