.avatar {
  width: 300px; /* or any size you want */
  height: auto;
  gap: 20px;
}
.soorya_school {
  width: 508px; /* or any size you want */
  height: 100%;
}
.instructor_with_girls_onstage {
  width: 100%;
}

.instructor_with_girls {
  width: 100%;
}

.instructor__image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 390px) {
  .avatar {
    width: 220px;
    height: auto;
  }
  .soorya_school {
    flex-direction: column;
    width: 320px;
    height: 100%;
  }
  .instructor__image-container {
    flex-direction: column;
  }
}
