.video-page {
  padding: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  align-items: center;
}

.video-title {
  font-size: 2rem;
  color: gold;
  margin-bottom: 20px;
  font-family: "Amita";
  background-image: url(../../../assets/temple.png);
}

.video-subtitle {
  font-family: "Amita";
  background-image: url(../../../assets/temple.png);
  color: gold;
}

.video-player {
  max-width: 800px;
  width: 100%;
  border: 4px solid #222;
  border-radius: 8px;
  background-image: url(../../assets/macbookpro.png);
  text-align: center;
  font-size: 1.9rem;
  right: 3px;
}

.video-wrapper__livestream {
  position: relative;
  text-align: center;
  flex-grow: 1;
}
.outer_graduation_video2025 {
  position: absolute;
  top: 13.5%; /* Adjust based on frame */
  left: 12%; /* Adjust based on frame */
  width: 76%; /* Adjust width to match the screen */
  height: 54%; /* Adjust height for screen window */
}

.graduation_video2025 {
  width: 757px;
  height: 482px;
  position: absolute;
  text-align: center;
  left: -9px;
  top: -65px;
  border: none;
  margin-left: 1px;
}

.video-frame_livestream {
  width: 100%;
  height: auto;
  display: block;
}
@media screen and (max-width: 440px) {
  .video-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .video-wrapper {
    flex: 1;
  }

  .footer {
    margin-top: auto;
    text-align: center;
    background-color: rgb(36, 35, 35);
    background-image: url(../../../assets/temple.png);
    width: 100%;
  }
  .graduation_video2025 {
    width: 129%;
    height: 146%;
    position: relative;
    text-align: center;
    left: -39px;
    top: -28px;
    border: none;
  }
  .video-frame_livestream {
    width: 118%;
    margin-left: -32px;
  }
}

@media screen and (max-width: 768px) {
  /* iPad screen */
}
