.copyright {
  width: 100%;
}

.copyright__text {
  color: gold;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 430px) {
  .copyright__text {
    color: gold;
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  /* iPad screen */
}
