.copyright {
  width: 100%;
}

.copyright__text {
  color: gold;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 768px) {
  /* iPad screen */
}

@media screen and (max-width: 430px) {
  /* iPhone screen */
}
