.coming-soon-container {
  text-align: center;
  padding: 2rem;
  max-width: 600px;
  margin: 0 auto;
  font-family: sans-serif;
}
.title_unavail {
  color: red;
  font-family: "Amita";
  font-size: 2.2em;
  display: flex;
  text-align: center;
  justify-content: center;
}
.countdown {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: yellow;
}

.timer span {
  margin: 0 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.home-button {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.6rem 1.2rem;
  background-color: #444;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.home-button:hover {
  background-color: #222;
}
@media screen and (max-width: 430px) {
  .title_unavail {
    color: red;
    font-family: "Amita";
    font-size: 12px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
}
