.title_dancer {
  text-align: center;
  font-family: "Amita";
  color: gold;
  background-color: black;
  background-position: relative;
}
.outer_fullpose {
  display: flex;
  justify-content: center;
  align-items: center;
}
.full_pose {
  width: 20%;
  height: 20%;
}
.headshot {
  width: 100%;
}
.mother_daughter {
}
.solo_photo {
  width: 100%;
}
.invite_card {
  width: 100%;
}
.invite_card_michelle {
  /* whatever */
}
.varnum_pose {
  width: 100%;
}

@media screen and (max-width: 430px) {
  .title_dancer {
    margin-top: 39px;
  }
}
