.header {
  background-image: url(../../../assets/temple.png);
  /* padding: 10px 0px 3px 0px; top right bottom left */
}

.video-page {
  padding: 40px;
  display: flex;
  flex-direction: column;
  /* background-color: #f8f8f8; */
  text-align: center;
  min-height: 100vh;
  align-items: center;
}

.video-title {
  font-size: 2rem;
  color: gold;
  margin-bottom: 20px;
  font-family: "Amita";
  background-image: url(../../../assets/temple.png);
}

.video-subtitle {
  font-family: "Amita";
  background-image: url(../../../assets/temple.png);
}

.video-player {
  max-width: 800px;
  width: 100%;
  border: 4px solid #222;
  border-radius: 8px;
  background-image: url(../../assets/macbookpro.png);
  text-align: center;
  font-size: 1.9rem;
  right: 3px;
}

.video-wrapper__video {
  position: relative;
  text-align: center;
  flex-grow: 1;
}

.competition_video2019 {
  width: 756px;
  height: 474px;
  position: absolute;
  text-align: center;
  left: 105px;
  top: 21px;
  border: none;
}
.reflection {
  width: 756px;
  height: 474px;
  position: absolute;
  text-align: center;
  left: 105px;
  top: 21px;
  border: none;
}
.video-frame_video {
  width: 100%;
  height: auto;
  display: block;
}
@media screen and (max-width: 430px) {
  .header {
    background-image: url(../../../assets/temple.png);
    padding: 10px 0px 3px 0px; /* top right bottom left */
  }

  .video-page {
    padding: 40px;
    display: flex;
    flex-direction: column;
    /* background-color: #f8f8f8; */
    text-align: center;
    min-height: 100vh;
    align-items: center;
  }

  .video-title {
    font-size: 2rem;
    color: gold;
    margin-bottom: 15px;
    margin-top: 47px;
    font-family: "Amita";
    background-color: black;
  }

  .video-subtitle {
    font-family: "Amita";
    background-color: black;
    color: gold;
  }

  .video-player {
    max-width: 800px;
    width: 100%;
    border: 4px solid #222;
    border-radius: 8px;
    background-image: url(../../assets/macbookpro.png);
    text-align: center;
    font-size: 1.9rem;
    right: 3px;
  }

  .video-wrapper__video {
    position: relative;
    text-align: center;
    flex-grow: 1;
  }

  .competition_video2019 {
    width: 79%;
    height: 80%;
    position: absolute;
    text-align: center;
    left: 39px;
    top: 4px;
    border: none;
  }
  .reflection {
    width: 79%;
    height: 80%;
    position: absolute;
    text-align: center;
    left: 39px;
    top: 4px;
    border: none;
  }
  .video-frame_video {
    width: 100%;
    height: auto;
    display: block;
  }
}
@media screen and (max-width: 768px) {
  /* iPad screen */
}
