.footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
  background-color: #f1f1f1;
  font-family: "Amita";
  font-size: 16px;
  margin-top: 171px;
  position: relative;
  overflow: hidden;
  background-color: silver;
}
.footer__text {
  text-align: center;
}

.box-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
  justify-items: center; */

  padding: 2rem;
}

.box-item {
  width: max-content;
  margin: 0 auto;
  max-width: 500px;
}

.accordion::before {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.slide::before {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.slide,
.accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  font-family: "Amita";
}

@keyframes pulsate {
  0% {
    opacity: 0;
    box-shadow: 0 0 0 0 rgb(183, 196, 213);
  }
  50% {
    opacity: 0.6;
    box-shadow: 0 0 0 50px rgb(98, 138, 189);
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
    box-shadow: 0 0 0 100px rgba(47, 128, 237);
  }
}

.about__circle {
  width: 426px;
  height: 426px;
  border-radius: 1351%;
  background-color: #2f80ed;
  position: absolute;
  top: -152px;
  left: -350px;
  z-index: 1;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite both;
}
.moms_and_daughters {
  width: 100%;
}

.facebook-link svg {
  transition: transform 0.2s ease;
}
.facebook-link:hover svg {
  transform: scale(1.1);
}
.youtube-link {
  margin-left: 34px;
}

@media screen and (max-width: 768px) {
}
